.btn{
    margin-left: -13px;
    margin-bottom:8px ;
    margin-top: -9px;
}
.col-md-3{
    background-color: #ececec;
    /* overflow-y: scroll; */
    overflow-x: auto;
    margin-right: 20px;
    padding-top: 20px;
}
.dropdown-item:hover{
    background-color: green;
}
.dropdown-menu{
    margin-left: 15px;
    background-color:#d2c9c9;
}
.dropdown:hover{
    background-color:#d2c9c9;
}
.scrolling-wrapper{
    overflow-x: auto;
}
ul{
    list-style: none;
}
li{
    color: red;
}

ul li::before{
    color: black;
    content:"\2022" ;
    font-weight: bold;
    font-size: 20px;
    display: inline-block; 
    width: 1em;
    margin-left: -1em;
}
.col-md-3 {
    overflow:scroll;
    height:750px;
    width:200px;
    }